*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  
}
body{
  background-color: #181818;
} 

/* top bar styling */
#topbar{
  width: 100%;
  height: 40px;
  border-bottom: 1px solid rgb(80, 80, 80);
  display: flex;
  justify-content: space-between;
  /* justify content use in align in horizontally */
  padding: 0 60px;
  /* border-color:white ; 
  border-style: solid; */
  position: relative;
  z-index:2;
} 
.left-section-topbar{
  width: 30%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center; 
  /* align item works to align in vertical  */
}

.left-section-topbar i{
  font-size: 22px;
  color: #f57931;
}
.left-section-topbar p{
  color: white;
  letter-spacing: 1px;
  margin: 0 10px;
  font-size: 15px;
  transition: .3s ease;
  cursor: pointer;
}
.left-section-topbar p:hover{
  color: #f57931;
}
.right-section-topbar{
  width: 30%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content:end;
  align-items: center;
}
.right-section-topbar P{
  color: white;
  margin: 0 10px;
  font-size: 15px;
  transition: .3s ease;
  cursor: pointer;
}
.right-section-topbar p:hover{
  color: #f57931;
}
.right-section-topbar .midline p{
  color:#f57931;
  /* margin: 0 10px;  */
  font-size: 15px;
}

/* top bar styling end */
/* navbar styling start */
#navbar{
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #f57931;
  display: flex;
  align-items: center;
  padding: 0 60px;
  justify-content: space-between;
  position: relative;  

  /* relative use for make parent of animation tag */
  z-index: 2;
}
.navbar-logo img{
 width: 90%;
}
#navbar ul{
  list-style: none;
  display: flex;
}
#navbar ul li{
  margin: 0 20px;
}
#navbar ul li a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
}
#navbar ul li a::before{
  /* before is pesudo element use for giving line animation below the li a */
  content: "";
  width: 0px;
  height: 2px;
  background-color: #f57931;
  position: absolute;
  /* postion property use for give correct position to lines */
  bottom: 30%;
  /* bottom: 0%; */
  transition: .3s ease;
  /* transition is use for smooth animation  */
}
#navbar ul li:nth-child(1) a:hover::before{
  width: 70px;
}
/* nth child property use for select particular element 
hover is use for animation property */
#navbar ul li:nth-child(2) a:hover::before{
  width: 50px;
}
#navbar ul li:nth-child(3) a:hover::before{
  width: 75px;
}
#navbar ul li:nth-child(4) a:hover::before{
  width: 70px;
}
/* navbar styling done */
/* herobox styling start */
#herobox {
  width: 100%;
  height: 100vh;
  background-color: #181818;
  background: url(/asset/background\ image.jpg);
  margin-top: -140px;
  overflow: hidden;
  position: relative;
}
#herobox::before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: #1b1b1bf6;
  position: absolute;
}
#herobox .circle{
  width: 600px;
  height: 600px;
  background-color: #f57931;
  border: 2px solid white;
  position: absolute;
  border-radius: 50%;
  top: 55%;
  right: 3%;
}
#herobox img{
  position: absolute;
  width: 40%;
  right: 3%;
  top: 30%
}
#herobox h1{
  position: absolute;
  color: white;
  font-size: 80px;
  width: 50%;
  top: 30%;
  left: 3%;
  line-height: 100px;
}
#herobox p{
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: 300;
  top: 70%;
  left: 3%;
  letter-spacing: 2px;
}
#herobox a{
  display: inline-block;
  width: 150px;
  height: 50px;
  position: absolute;
  top: 78%;
  left: 3%;
  text-decoration: none;
  color: #f57931;
  border: 2px solid white;
  text-align: center;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 600;
  padding-top: 5px;
  transition: .3s ease;
  letter-spacing: 2px;
}
#herobox a:hover{
  background-color: #f57931;
  color: white;
  border: 2px #f57931;
}
#herobox .icons-group{
  width: 150px;
  height: 50px;
  /* border: 1px solid red; */
  position: absolute;
  bottom: 3%;
  left: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 5px; */
}
#herobox .icons-group i{
  color: #f57931;
  /* align-items: center; */
}
#herobox .icons-group .icon-1{
  width: 35px;
  height: 35px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s ease;
  cursor: pointer;
}
#herobox .icons-group .icon-1:hover{
  background-color: #f57931;
  border: 2px solid #f57931;
}
#herobox .icons-group .icon-1:hover i{
  color: white;
}
#herobox .icons-group .icon-2{
  width: 35px;
  height: 35px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s ease;
  cursor: pointer;
}
#herobox .icons-group .icon-2:hover{
  background-color: #f57931;
  border: 2px solid #f57931;
}
#herobox .icons-group .icon-2:hover i{
  color: white;
}
#herobox .icons-group .icon-3{
  width: 35px;
  height: 35px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s ease;
  cursor: pointer;
}
#herobox .icons-group .icon-3:hover{
  background-color: #f57931;
  border: 2px solid #f57931;
}
#herobox .icons-group .icon-3:hover i{
  color: white;
}

/* about me styling start  */
#about-section{
  width: 100%;
  height: 100vh;
  background-color: #181818;
  position: relative;
  overflow: hidden;
}
#about-section h1{
  color: #f57931;
  font-weight: 400;
  font-size: 48px;
  position: absolute;
  left: 3%;
  border-bottom: 2px white solid ;
  top: 3%;
}
#about-section .card-container{
  width: 95%;
  height: 50%;
  /* border: 1px solid red; */
  position: absolute;
  top: 25%;
  left: 2.5%;
  display: flex;
  justify-content: space-between;
}
#about-section .card-container .card-1{
  width: 23%;
  height: 100%;
  background-color: #282828;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 0px 10px black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about-section .card-container .card-1 .subcard-1{
  width: 90%;
  height: 90%;
  border: 3px solid #f57931;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
  position: relative;
}
#about-section .card-container .card-1 .subcard-1:before{
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0.5578606442577031) 0%, rgba(0,0,0,0.8519782913165266) 100%);
  position: absolute;
  z-index: 2;
}
#about-section .card-container .card-1 .subcard-1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: .3s ease;
  position: absolute;
}
#about-section .card-container .card-1 .subcard-1:hover img{
  transform: scale(1.1);
}
#about-section .card-container .card-1 .subcard-1 P{
  position: absolute;
  z-index: 3;
  color: white;
  left: 50%;
  top: 20%;
  font-size: 32px;
  border-bottom: 1px solid white;
  transform: translateX(-50%);
  font-weight: 300;
}
#about-section .card-container .card-1 .subcard-1 H1{
  position: absolute;
  z-index: 3;
  border-bottom: none;
  text-align: center;
  font-size: 60px;
  line-height: 60px;
  top: 35%;
  font-weight: 600;
}
#about-section .card-container .card-1 .subcard-1 a{
  position: absolute;
  z-index: 3;
  text-decoration: none;
  color: white;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  display: inline-block;
  width: 150px;
  height: 50px;
  border: 1px solid white;
  text-align: center;
  padding-top: 8px;
  border-radius : 50px;
}
#about-section .card-container .card-1 .subcard-1:hover a{
  background-color: #f57931;
  border: 1px solid #f57931;
}
#about-section .card-container .card-2{
  width: 23%;
  height: 100%;
  background-color: #282828;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0px 0px 10px black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
#about-section .card-container .card-2 .subcard-2:before{
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0.5578606442577031) 0%, rgba(0,0,0,0.8519782913165266) 100%);
  position: absolute;
  z-index: 2;
}
#about-section .card-container .card-2 .subcard-2{
  width: 90%;
  height: 90%;
  border: 3px solid #f57931;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
  position: absolute;
}
#about-section .card-container .card-2 .subcard-2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: .3s ease;
  position: absolute;
}
#about-section .card-container .card-2 .subcard-2:hover img{
  transform: scale(1.1);
}
#about-section .card-container .card-2 .subcard-2 P{
  position: absolute;
  z-index: 3;
  color: white;
  left: 50%;
  top: 20%;
  font-size: 32px;
  border-bottom: 1px solid white;
  transform: translateX(-50%);
  font-weight: 300;
}
#about-section .card-container .card-2 .subcard-2 H1{
  position: absolute;
  z-index: 3;
  border-bottom: none;
  text-align: center;
  font-size: 60px;
  line-height: 60px;
  top: 35%;
  font-weight: 600;
}
#about-section .card-container .card-2 .subcard-2 a{
  position: absolute;
  z-index: 3;
  text-decoration: none;
  color: white;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  display: inline-block;
  width: 150px;
  height: 50px;
  border: 1px solid white;
  text-align: center;
  padding-top: 8px;
  border-radius : 50px;
}
#about-section .card-container .card-2 .subcard-2:hover a{
  background-color: #f57931;
  border: 1px solid #f57931;
}
#about-section .card-container .card-3{
  width: 23%;
  height: 100%;
  background-color: #282828;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 0px 10px black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* overflow: hidden; */
}
#about-section .card-container .card-3 .subcard-3:before{
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0.5578606442577031) 0%, rgba(0,0,0,0.8519782913165266) 100%);
  position: absolute;
  z-index: 2;
  overflow: hidden;
}
#about-section .card-container .card-3 .subcard-3{
  width: 90%;
  height: 90%;
  border: 3px solid #f57931;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
  position: absolute;
}
#about-section .card-container .card-3 .subcard-3 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: .3s ease;
  position: absolute;
}
#about-section .card-container .card-3 .subcard-3:hover img{
  transform: scale(1.1);
}
#about-section .card-container .card-3 .subcard-3 P{
  position: absolute;
  z-index: 3;
  color: white;
  left: 50%;
  top: 20%;
  font-size: 32px;
  border-bottom: 1px solid white;
  transform: translateX(-50%);
  font-weight: 300;
}
#about-section .card-container .card-3 .subcard-3 H1{
  position: absolute;
  z-index: 3;
  border-bottom: none;
  text-align: center;
  font-size: 60px;
  line-height: 60px;
  top: 35%;
  font-weight: 600;
}
#about-section .card-container .card-3 .subcard-3 a{
  position: absolute;
  z-index: 3;
  text-decoration: none;
  color: white;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  display: inline-block;
  width: 150px;
  height: 50px;
  border: 1px solid white;
  text-align: center;
  padding-top: 8px;
  border-radius : 50px;
}
#about-section .card-container .card-3 .subcard-3:hover a{
  background-color: #f57931;
  border: 1px solid #f57931;
}
#about-section .card-container .card-4{
  width: 23%;
  height: 100%;
  background-color: #282828;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0px 0px 10px black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#about-section .card-container .card-4 .subcard-4:before{
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0.5578606442577031) 0%, rgba(0,0,0,0.8519782913165266) 100%);
  position: absolute;
  z-index: 2;
  overflow: hidden;
}
#about-section .card-container .card-4 .subcard-4 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: .3s ease;
  position: absolute;
}
#about-section .card-container .card-4 .subcard-4:hover img{
  transform: scale(1.1);
}
#about-section .card-container .card-4 .subcard-4 P{
  position: absolute;
  z-index: 3;
  color: white;
  left: 50%;
  top: 20%;
  font-size: 32px;
  border-bottom: 1px solid white;
  transform: translateX(-50%);
  font-weight: 300;
}
#about-section .card-container .card-4 .subcard-4 H1{
  position: absolute;
  z-index: 3;
  border-bottom: none;
  text-align: center;
  font-size: 60px;
  line-height: 60px;
  top: 35%;
  font-weight: 600;
}
#about-section .card-container .card-4 .subcard-4 a{
  position: absolute;
  z-index: 3;
  text-decoration: none;
  color: white;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  display: inline-block;
  width: 150px;
  height: 50px;
  border: 1px solid white;
  text-align: center;
  padding-top: 8px;
  border-radius : 50px;
}
#about-section .card-container .card-4 .subcard-4:hover a{
  background-color: #f57931;
  border: 1px solid #f57931;
}
#about-section .card-container .card-4 .subcard-4{
  width: 90%;
  height: 90%;
  border: 3px solid #f57931;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
  position: absolute;
}
#about-section h2{
  position: absolute;
  color: white;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  font-weight: 400;
}
#about-section h2 span{
  font-style: italic;
  color: #f57931;
  border-bottom: 1px solid white;
}
/* portfolio section styling  */

#gd-section{
  width: 100%;
  height: 100vh;
  /* background-color: #181818; */
  background-image: url(/asset/background\ image.jpg);
  position: relative;

}
#gd-section::before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: #181818f6;
  position: absolute;
}
.showing-button{
  width: 400px;
  height: 90px;
  border: 1px white solid;
  border-radius: 50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
  position: absolute;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.showing-button h2{
  color: #f57931;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 1px;
  /* border-bottom: 2px solid #f57931; */
}
.gallary{
  width: 95%;
  height: 420px;
  border: 2px solid #f57931;
  position: absolute;
  bottom: 12%;
  left: 2.5%;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
  padding: 20px;
}
.row{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.row .card-1{
  width: 24%;
  height: 100%;
  border: 1px solid black;
  overflow: hidden;
  cursor: pointer;
}
.row .card-1::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5326505602240896) 91%);
    position: absolute;
    z-index: 2;
}
.row .card-1:hover img{
  transform: scale(1.1);
}
.row .card-1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: .3s ease;
}
.row .card-2{
  width: 24%;
  height: 100%;
  border: 1px solid black;
  overflow: hidden;
  cursor: pointer;
}
.row .card-2::before{
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5326505602240896) 91%);
  position: absolute;
  z-index: 2;
}
.row .card-2:hover img{
transform: scale(1.1);
}

.row .card-2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: .3s ease;
}
.row .card-3{
  width: 24%;
  height: 100%;
  border: 1px solid black;
  overflow: hidden;
  cursor: pointer;
}
.row .card-3::before{
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5326505602240896) 91%);
  position: absolute;
  z-index: 2;
}
.row .card-3:hover img{
transform: scale(1.1);
}
.row .card-3 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: .3s ease;
}
.row .card-4{
  width: 24%;
  height: 100%;
  border: 1px solid black;
  overflow: hidden;
  cursor: pointer;
}
.row .card-4::before{
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5326505602240896) 91%);
  position: absolute;
  z-index: 2;
}
.row .card-4:hover img{
transform: scale(1.1);
}
.row .card-4 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: .3s ease;
}
#gd-section a{
  display: inline-block;
  width: 180px;
  height: 50px;
  text-decoration: none;
  color: white;
  background-color: #f57931;
  border-radius: 50px;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  padding-top: 5px;
  transition: .3s ease;
  border: 2px solid transparent;
}
#gd-section a:hover{
  background-color: transparent;
  border: 2px solid #f57931;
}
/* website design section styling start  */

#wd-section{
  width: 100%;
  height: 100vh;
  /* background-color: #181818; */
  background-image: url(/asset/background\ image.jpg);
  position: relative;
}
#wd-section::before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: #181818f6;
  position: absolute;
}
.showing-button{
  width: 400px;
  height: 90px;
  border: 1px white solid;
  border-radius: 50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
  position: absolute;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.showing-button h2{
  color: #f57931;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 1px;
  /* border-bottom: 2px solid #f57931; */
}
.gallary{
  width: 95%;
  height: 420px;
  border: 2px solid #f57931;
  position: absolute;
  bottom: 12%;
  left: 2.5%;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
  padding: 20px;
}
.row{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.row .card-1{
  width: 24%;
  height: 100%;
  border: 1px solid black;
  overflow: hidden;
  cursor: pointer;
}
.row .card-1::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5326505602240896) 91%);
    position: absolute;
    z-index: 2;
}
.row .card-1:hover img{
  transform: scale(1.1);
}
.row .card-1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: .3s ease;
}
.row .card-2{
  width: 24%;
  height: 100%;
  border: 1px solid black;
  overflow: hidden;
  cursor: pointer;
}
.row .card-2::before{
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5326505602240896) 91%);
  position: absolute;
  z-index: 2;
}
.row .card-2:hover img{
transform: scale(1.1);
}

.row .card-2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: .3s ease;
}
.row .card-3{
  width: 24%;
  height: 100%;
  border: 1px solid black;
  overflow: hidden;
  cursor: pointer;
}
.row .card-3::before{
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5326505602240896) 91%);
  position: absolute;
  z-index: 2;
}
.row .card-3:hover img{
transform: scale(1.1);
}
.row .card-3 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: .3s ease;
}
.row .card-4{
  width: 24%;
  height: 100%;
  border: 1px solid black;
  overflow: hidden;
  cursor: pointer;
}
.row .card-4::before{
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5326505602240896) 91%);
  position: absolute;
  z-index: 2;
}
.row .card-4:hover img{
transform: scale(1.1);
}
.row .card-4 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: .3s ease;
}
#wd-section a{
  display: inline-block;
  width: 180px;
  height: 50px;
  text-decoration: none;
  color: white;
  background-color: #f57931;
  border-radius: 50px;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  padding-top: 5px;
  transition: .3s ease;
  border: 2px solid transparent;
}
#wd-section a:hover{
  background-color: transparent;
  border: 2px solid #f57931;
}
/* video editing section styling  */
#ve-section{
  width: 100%;
  height: 100vh;
  /* background-color: #181818; */
  background-image: url(/asset/background\ image.jpg);
  position: relative;
}
#ve-section::before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: #181818f6;
  position: absolute;
}
.showing-button{
  width: 400px;
  height: 90px;
  border: 1px white solid;
  border-radius: 50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
  position: absolute;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.showing-button h2{
  color: #f57931;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 1px;
  /* border-bottom: 2px solid #f57931; */
}
.gallary{
  width: 95%;
  height: 420px;
  border: 2px solid #f57931;
  position: absolute;
  bottom: 12%;
  left: 2.5%;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
  padding: 20px;
}
.row{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.row .card-1{
  width: 24%;
  height: 100%;
  border: 1px solid black;
  overflow: hidden;
  cursor: pointer;
}
.row .card-1::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5326505602240896) 91%);
    position: absolute;
    z-index: 2;
}
.row .card-1:hover img{
  transform: scale(1.1);
}
.row .card-1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: .3s ease;
}
.row .card-2{
  width: 24%;
  height: 100%;
  border: 1px solid black;
  overflow: hidden;
  cursor: pointer;
}
.row .card-2::before{
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5326505602240896) 91%);
  position: absolute;
  z-index: 2;
}
.row .card-2:hover img{
transform: scale(1.1);
}

.row .card-2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: .3s ease;
}
.row .card-3{
  width: 24%;
  height: 100%;
  border: 1px solid black;
  overflow: hidden;
  cursor: pointer;
}
.row .card-3::before{
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5326505602240896) 91%);
  position: absolute;
  z-index: 2;
}
.row .card-3:hover img{
transform: scale(1.1);
}
.row .card-3 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: .3s ease;
}
.row .card-4{
  width: 24%;
  height: 100%;
  border: 1px solid black;
  overflow: hidden;
  cursor: pointer;
}
.row .card-4::before{
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5326505602240896) 91%);
  position: absolute;
  z-index: 2;
}
.row .card-4:hover img{
transform: scale(1.1);
}
.row .card-4 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: .3s ease;
}
#ve-section a{
  display: inline-block;
  width: 180px;
  height: 50px;
  text-decoration: none;
  color: white;
  background-color: #f57931;
  border-radius: 50px;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  padding-top: 5px;
  transition: .3s ease;
  border: 2px solid transparent;
}
#ve-section a:hover{
  background-color: transparent;
  border: 2px solid #f57931;
}

/* WEBSITE DEV STYLING SECTION START  */
#wdev-section{
  width: 100%;
  height: 100vh;
  /* background-color: #181818; */
  background-image: url(/asset/background\ image.jpg);
  position: relative;
}
#wdev-section::before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: #181818f6;
  position: absolute;
}
#wdev-section .showing-button{
  width: 480px;
  height: 90px;
  border: 1px white solid;
  border-radius: 50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
  position: absolute;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.showing-button h2{
  color: #f57931;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 1px;
  /* border-bottom: 2px solid #f57931; */
}
.gallary{
  width: 95%;
  height: 420px;
  border: 2px solid #f57931;
  position: absolute;
  bottom: 12%;
  left: 2.5%;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
  padding: 20px;
}
.row{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.row .card-1{
  width: 24%;
  height: 100%;
  border: 1px solid black;
  overflow: hidden;
  cursor: pointer;
}
.row .card-1::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5326505602240896) 91%);
    position: absolute;
    z-index: 2;
}
.row .card-1:hover img{
  transform: scale(1.1);
}
.row .card-1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: .3s ease;
}
.row .card-2{
  width: 24%;
  height: 100%;
  border: 1px solid black;
  overflow: hidden;
  cursor: pointer;
}
.row .card-2::before{
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5326505602240896) 91%);
  position: absolute;
  z-index: 2;
}
.row .card-2:hover img{
transform: scale(1.1);
}

.row .card-2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: .3s ease;
}
.row .card-3{
  width: 24%;
  height: 100%;
  border: 1px solid black;
  overflow: hidden;
  cursor: pointer;
}
.row .card-3::before{
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5326505602240896) 91%);
  position: absolute;
  z-index: 2;
}
.row .card-3:hover img{
transform: scale(1.1);
}
.row .card-3 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: .3s ease;
}
.row .card-4{
  width: 24%;
  height: 100%;
  border: 1px solid black;
  overflow: hidden;
  cursor: pointer;
}
.row .card-4::before{
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5326505602240896) 91%);
  position: absolute;
  z-index: 2;
}
.row .card-4:hover img{
transform: scale(1.1);
}
.row .card-4 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: .3s ease;
}
#wdev-section a{
  display: inline-block;
  width: 180px;
  height: 50px;
  text-decoration: none;
  color: white;
  background-color: #f57931;
  border-radius: 50px;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  padding-top: 5px;
  transition: .3s ease;
  border: 2px solid transparent;
}
#wdev-section a:hover{
  background-color: transparent;
  border: 2px solid #f57931;
}


/* Experience Section Styling start  */
#experience-section{
  width: 100%;
  height: 220vh;
  background-color: #181818;
  position: relative;
}
#experience-section h1{
  color: white;
  font-size: 72px;
  position: absolute;
  left: 5%;
  top: 5%;
}
.field-conatiner{
  width: 90%;
  height: 85%;
  /* border: 2px solid red; */
  position: absolute;
  bottom: 0%;
  left: 5%;
  display: flex;
}
.line-circle-group{
  width: 5px;
  height: 95%;
  background-color: white;
  border-radius: 50px;
  position: relative;
}
.circle-1{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #f57931;
  border-radius: 50%;
  left: -150%;
  top: 10%;
}
.circle-2{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #f57931;
  border-radius: 50%;
  left: -150%;
  top: 36%;
}
.circle-3{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #f57931;
  border-radius: 50%;
  left: -150%;
  top: 62%;
}
.circle-4{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #f57931;
  border-radius: 50%;
  left: -150%;
  top: 88%;
}
.gd-exp{
  position: absolute;
  width: 95%;
  height: 280px;
  border: 2px solid #f57931;
  left: 2.5%;
}
.gd-exp p:nth-child(1){
  position: absolute;
  color: white;
  top: 20%;
  left: 3%;
  font-size: 18px;
  letter-spacing: 2px;
}

.gd-exp h2{
  color: white;
  font-size: 62px;
  position: absolute;
  top: 25%;
  left: 3%;
}
.gd-exp p:nth-child(3){
  position: absolute;
  color: white;
  left: 3%;
  bottom: 20%;
  width: 80%;
  text-align: justify;
  font-size: 15px;
}
.wd-exp{
  position: absolute;
  width: 95%;
  height: 280px;
  border: 2px solid #f57931;
  left: 2.5%;
  top: 25%;
}
.wd-exp p:nth-child(1){
  position: absolute;
  color: white;
  top: 20%;
  left: 3%;
  font-size: 18px;
  letter-spacing: 2px;
}

.wd-exp h2{
  color: white;
  font-size: 62px;
  position: absolute;
  top: 25%;
  left: 3%;
}
.wd-exp p:nth-child(3){
  position: absolute;
  color: white;
  left: 3%;
  bottom: 20%;
  width: 80%;
  text-align: justify;
  font-size: 15px;
}
.wdev-exp{
  position: absolute;
  width: 95%;
  height: 280px;
  border: 2px solid #f57931;
  left: 2.5%;
  top: 50%;
}
.wdev-exp p:nth-child(1){
  position: absolute;
  color: white;
  top: 20%;
  left: 3%;
  font-size: 18px;
  letter-spacing: 2px;
}

.wdev-exp h2{
  color: white;
  font-size: 62px;
  position: absolute;
  top: 25%;
  left: 3%;
}
.wdev-exp p:nth-child(3){
  position: absolute;
  color: white;
  left: 3%;
  bottom: 20%;
  width: 80%;
  text-align: justify;
  font-size: 15px;
}
.ve-exp{
  position: absolute;
  width: 95%;
  height: 280px;
  border: 2px solid #f57931;
  left: 2.5%;
  top: 75%;
}
.ve-exp p:nth-child(1){
  position: absolute;
  color: white;
  top: 20%;
  left: 3%;
  font-size: 18px;
  letter-spacing: 2px;
}

.ve-exp h2{
  color: white;
  font-size: 62px;
  position: absolute;
  top: 25%;
  left: 3%;
}
.ve-exp p:nth-child(3){
  position: absolute;
  color: white;
  left: 3%;
  bottom: 20%;
  width: 80%;
  text-align: justify;
  font-size: 15px;
}

/* expert section styling start */
#expert-section{
  width: 100%;
  height: 120vh;
  background-color: #181818;
  position: relative;
}
#expert-section h1{
  color: white;
  font-size: 72px;
  position: absolute;
  left: 5%;
  top: 5%;
}
#expert-section h2{
  color: white;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 48px;
}
.container{
  width: 87.5%;
  height: 70%;
  position: absolute;
  bottom: 10%;
  left: 5%;
  display: flex;
  flex-direction: column;
}
.row{
  width: 100%;
  height: 55px;
  margin: 6px 0;
  display: flex;
  align-items: center;
  position: relative;
}
.row h3{
  font-size: 28px ;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  /* letter-spacing: 2px;  */
}
.row p{
  color: white;
  position: absolute;
  right: 0;
  font-size: 16px;
  bottom: 50%;
}
.progress-bar{
  width: 88%;
  height: 4px;
  background-color: white;
  position: absolute;
  right: 0;
  border-radius: 50px;
}
.complete-bar{
  width: 90%;
  background-color: #f57931;
  height: 100%;
  border-radius: 50px;

}
.container .row:nth-child(2) .complete-bar{
  width: 92%;
}
.container .row:nth-child(3) .complete-bar{
  width: 85%;
}
.container .row:nth-child(4) .complete-bar{
  width: 80%;
}
.container .row:nth-child(5) .complete-bar{
  width: 95%;
}
.container .row:nth-child(6) .complete-bar{
  width: 90%;
}
.container .row:nth-child(7) .complete-bar{
  width: 92%;
}
.container .row:nth-child(8) .complete-bar{
  width: 85%;
}
.container .row:nth-child(9) .complete-bar{
  width: 95%;
}