*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  
}
body{
  background-color: #181818;
} 

/* top bar styling */
#topbar{
  width: 100%;
  height: 40px;
  border-bottom: 1px solid rgb(80, 80, 80);
  display: flex;
  justify-content: space-between;
  /* justify content use in align in horizontally */
  padding: 0 60px;
  /* border-color:white ; 
  border-style: solid; */
} 
.left-section-topbar{
  width: 30%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center; 
  /* align item works to align in vertical  */
}

.left-section-topbar i{
  font-size: 22px;
  color: #f57931;
}
.left-section-topbar p{
  color: white;
  letter-spacing: 1px;
  margin: 0 10px;
  font-size: 15px;
  transition: .3s ease;
  cursor: pointer;
}
.left-section-topbar p:hover{
  color: #f57931;
}
.right-section-topbar{
  width: 30%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content:end;
  align-items: center;
}
.right-section-topbar P{
  color: white;
  margin: 0 10px;
  font-size: 15px;
  transition: .3s ease;
  cursor: pointer;
}
.right-section-topbar p:hover{
  color: #f57931;
}
.right-section-topbar .midline p{
  color:#f57931;
  /* margin: 0 10px;  */
  font-size: 15px;
}

/* top bar styling end */
/* navbar styling start */
#navbar{
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #f57931;
  display: flex;
  align-items: center;
  padding: 0 60px;
  justify-content: space-between;
  position: relative;  
  /* relative use for make parent of animation tag */
}
.navbar-logo img{
 width: 90%;
}
#navbar ul{
  list-style: none;
  display: flex;
}
#navbar ul li{
  margin: 0 20px;
}
#navbar ul li a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
}
#navbar ul li a::before{
  /* before is pesudo element use for giving line animation below the li a */
  content: "";
  width: 0px;
  height: 2px;
  background-color: #f57931;
  position: absolute;
  /* postion property use for give correct position to lines */
  bottom: 30%;
  /* bottom: 0%; */
  transition: .3s ease;
  /* transition is use for smooth animation  */
}
#navbar ul li:nth-child(1) a:hover::before{
  width: 70px;
}
/* nth child property use for select particular element 
hover is use for animation property */
#navbar ul li:nth-child(2) a:hover::before{
  width: 50px;
}
#navbar ul li:nth-child(3) a:hover::before{
  width: 75px;
}
#navbar ul li:nth-child(4) a:hover::before{
  width: 70px;
}
/* navbar styling done */
/* herobox styling start */
